services:
  - type: web
    name: nexuscore
    env: node
    region: singapore
    plan: free
    buildCommand: npm install
    startCommand: npm start
    healthCheckPath: /health
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: SESSION_SECRET
        generateValue: true
      - key: OWNER_NAME
        value: Abdullah
      - key: OWNER_NUMBER
        value: "+923288055104"
      - key: ADMIN_PASSWORD
        value: Rana0986
      - key: DATABASE_URL
        value: "postgresql://nexuscore_db_user:wr1hv6xPzRSRZPxIWLRqcll8lgUBUxw8@dpg-d55dflm3jp1c739q6scg-a/nexuscore_db"
